<!--/main-header-->
<!--/banner-section-->

<!--/banner-section-->
<!--//main-header-->
<!-- breadcrumb -->
<div class="w3_breadcrumb">
    <div class="breadcrumb-inner">
        <ul>
            <li><a href="@Url.Action("Index","Home") ">Home</a> <i> /</i></li>
            <li>Gallery</li>
        </ul>
    </div>
</div>
<!-- //breadcrumb -->
<!--/content-inner-section-->
<div class="w3_content_agilleinfo_inner">
    <div class="container">
        <div class="inner-agile-w3l-part-head">
            <h2 class="w3l-inner-h-title">Gallery</h2>
        </div>
        <div class="gallery-grids">
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="../images/g8.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
                            <img src="../images/g8.jpg" alt="" />
                            <figcaption>
                                <p>Sauna Relaxation</p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="../images/g2.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
                            <img src="../images/g2.jpg" alt="" />
                            <figcaption>
                                <p>Sauna Relaxation</p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="../images/g7.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
                            <img src="../images/g7.jpg" alt="" />
                            <figcaption>
                                <p>Sauna Relaxation</p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="../images/g4.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
                            <img src="../images/g4.jpg" alt="" />
                            <figcaption>
                                <p>Sauna Relaxation</p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="../images/g5.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
                            <img src="../images/g5.jpg" alt="" />
                            <figcaption>
                                <p>Sauna Relaxation</p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="../images/g6.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
                            <img src="../images/g6.jpg" alt="" />
                            <figcaption>
                                <p>Sauna Relaxation</p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="../images/g7.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
                            <img src="../images/g7.jpg" alt="" />
                            <figcaption>
                                <p>Sauna Relaxation</p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="../images/g2.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
                            <img src="../images/g2.jpg" alt="" />
                            <figcaption>
                                <p>Sauna Relaxation</p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 gallery-grid">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="../images/g3.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut sem ac lectus mattis sagittis. Donec pulvinar quam sit amet est vestibulum volutpat. Phasellus sed nibh odio. Phasellus posuere at purus sit amet porttitor. Cras euismod egestas enim eget molestie. Aenean ornare condimentum odio, in lacinia felis finibus non. Nam faucibus libero et lectus finibus, sed porttitor velit pellentesque.">
                            <img src="../images/g3.jpg" alt="" />
                            <figcaption>
                                <p>Sauna Relaxation</p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="clearfix"> </div>

        </div>
    </div>
</div>
<!--//content-inner-section-->
