<script src="~/Scripts/bootstrap.min.js"></script>
<input id="btntoggle" type="button" class="btn btn-info" name="toggle" value="toggle"/>

<div class="special featured">
    <div class="container">
        <div class="ab-w3l-spa">
            <h3 class="tittle">Welcome to Our SPA!</h3>

            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. ever since the 1500s.Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores hasellusMaecenas ac hendrerit purus. Lorem ipsum dolor sit amet.Lorem Ipsum is simply dummy text of the printing and typesetting industry
            </p><a class="read" href="single.html">
                Read More
            </a>
        </div>
    </div>

    <!-- welcome -->

@{
    Html.RenderAction("GetOurService", "OurService");
}   
    <!-- //welcome -->
</div>
<!-- special -->
<div class="special">
    <div class="container">
        <h2 class="tittle">Today Specials</h2>

        <div class="special-grids">
            <div class="col-md-6 w3l-special-grid">
                <div class="col-md-6 w3ls-special-img">
                    <div class="w3ls-special-text effect-1">
                        <h4>$ 60.00</h4>
                    </div>
                </div>
                <div class="col-md-6 agileits-special-info">
                    <h4>Spa</h4>
                    <p>Maecenas ac hendrerit purus. Lorem ipsum dolor sit amet</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 w3l-special-grid">
                <div class="col-md-6 w3ls-special-img wthree-img1">
                    <div class="w3ls-special-text effect-1">
                        <h4>$ 49.00</h4>
                    </div>
                </div>
                <div class="col-md-6 agileits-special-info">
                    <h4>Spa</h4>
                    <p>Maecenas ac hendrerit purus. Lorem ipsum dolor sit amet</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 w3l-special-grid">
                <div class="col-md-6 agileits-special-info">
                    <h4>Spa</h4>
                    <p>Maecenas ac hendrerit purus. Lorem ipsum dolor sit amet</p>
                </div>
                <div class="col-md-6 w3ls-special-img wthree-img2">
                    <div class="w3ls-special-text effect-1">
                        <h4>$ 54.00</h4>
                    </div>
                </div>

                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 w3l-special-grid">
                <div class="col-md-6 agileits-special-info">
                    <h4>Spa</h4>
                    <p>Maecenas ac hendrerit purus. Lorem ipsum dolor sit amet</p>
                </div>
                <div class="col-md-6 w3ls-special-img wthree-img3">
                    <div class="w3ls-special-text effect-1">
                        <h4>$ 40.00</h4>
                    </div>
                </div>

                <div class="clearfix"> </div>
            </div>



            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //special -->
@Html.Partial("_popular") 

@Html.Partial("_Our Plans") 
<!-- Modal1 -->
<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header book-form">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Sign up Form</h4>
                <form action="#" method="post">
                    <input type="text" name="Name" placeholder="Your Name" required="" />
                    <input type="text" name="Email" class="email" placeholder="Email" required="" />
                    <input type="password" name="Password" class="password" placeholder="Password" required="" />
                    <div class="check-box">
                        <input name="chekbox" type="checkbox" id="brand" value="">
                        <label for="brand"><span></span>Remember Me.</label>
                    </div>
                    <input type="submit" value="Sign Up">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- //Modal1 -->
<!--/news-section-->
<div class="news" id="news">
    <div class="container">
        <h3 class="tittle">Our Events</h3>
        <div class="news-grids">
            <div class=" col-md-4 section-grid-wthree one">
                <div class="services-info-w3-agileits">
                    <h5 class="sub-title"><a href="single.html">Lorem ipsum dolor sit </a></h5>
                    <h6>Sep 06,2016 | By <a href="#">Admin</a></h6>
                    <p class="para-w3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. ever since the 1500s.</p>
                </div>
                <div class="services-img-agileits-w3layouts">
                    <a href="single.html"><img src="../images/n3.jpg" alt="service-img"></a>
                </div>
            </div>
            <div class=" col-md-4 section-grid-wthree">
                <div class="services-img-agileits-w3layouts">
                    <a href="single.html"><img src="../images/n1.jpg" alt="service-img"></a>
                </div>
                <div class="services-info-w3-agileits mid">
                    <h5 class="sub-title"><a href="single.html">Lorem ipsum dolor sit </a></h5>
                    <h6>Sep 06,2016 | By <a href="#">Admin</a></h6>
                    <p class="para-w3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. ever since the 1500s.</p>
                </div>
            </div>
            <div class=" col-md-4 section-grid-wthree">
                <div class="services-info-w3-agileits">
                    <h5 class="sub-title"><a href="single.html">Lorem ipsum dolor sit </a></h5>
                    <h6>Sep 06,2016 | By <a href="#">Admin</a></h6>
                    <p class="para-w3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. ever since the 1500s.</p>
                </div>
                <div class="services-img-agileits-w3layouts">
                    <a href="single.html"><img src="../images/n2.jpg" alt="service-img"></a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//news-section-->
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(function () {
        ChangeAnimtion();
        $() 
    });
  
    function ChangeAnimtion() {

        $("img").mouseover(function () {
            $(this).animate({ heigth: '+=25', width: '+=25' }).animate({ heigth: '-=25', width: '-=25' });
        })
    }
</script>
