<div class="plans-section">
    <div class="container">
        <h3 class="w3l-inner-h-title">Our Plans</h3>
        <div class="priceing-table-main">
            <div class="col-md-3 price-grid">
                <div class="price-block agile">
                    <div class="price-gd-top pric-clr1">
                        <h4>Basic Plan</h4>
                        <h3>$5</h3>
                        <h5>1 month</h5>
                    </div>
                    <div class="price-gd-bottom">
                        <div class="price-list">
                            <ul>
                                <li>Nail Cutting</li>
                                <li>Hair Coloring</li>
                                <li>Spa Therapy</li>
                                <li>Body massage</li>
                                <li>Manicure</li>
                            </ul>
                        </div>
                        <div class="price-selet pric-sclr1">
                            <a href="#" data-toggle="modal" data-target="#myModal1">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 price-grid">
                <div class="price-block agile">
                    <div class="price-gd-top pric-clr2">
                        <h4>Stay & Dine</h4>
                        <h3>$10</h3>
                        <h5>5 months</h5>
                    </div>
                    <div class="price-gd-bottom">
                        <div class="price-list">
                            <ul>
                                <li> Hand and Foot massage</li>
                                <li>Nail Cutting</li>
                                <li>Spa Therapy</li>
                                <li>Body massage</li>
                                <li>Manicure</li>
                            </ul>
                        </div>
                        <div class="price-selet pric-sclr2">
                            <a href="#" data-toggle="modal" data-target="#myModal1">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 price-grid lost">
                <div class="price-block agile">
                    <div class="price-gd-top pric-clr3">
                        <h4>Inn & Spa</h4>
                        <h3>$20</h3>
                        <h5>Free for 2 months</h5>
                    </div>
                    <div class="price-gd-bottom">
                        <div class="price-list">
                            <ul>
                                <li> Hand and Foot massage</li>
                                <li>Nail Cutting</li>
                                <li>Spa Therapy</li>
                                <li>Body massage</li>
                                <li>Hair Coloring</li>
                            </ul>
                        </div>
                        <div class="price-selet pric-sclr3">
                            <a href="#" data-toggle="modal" data-target="#myModal1">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 price-grid wthree lost">
                <div class="price-block agile">
                    <div class="price-gd-top pric-clr4">
                        <h4>Exclusive</h4>
                        <h3>$50</h3>
                        <h5>Free for 5 months</h5>
                    </div>
                    <div class="price-gd-bottom">
                        <div class="price-list">
                            <ul>
                                <li>Nail Cutting</li>
                                <li>Hair Coloring</li>
                                <li>Spa Therapy</li>
                                <li> Hand and Foot massage</li>
                                <li>Manicure</li>
                            </ul>
                        </div>
                        <div class="price-selet pric-sclr4">
                            <a href="#" data-toggle="modal" data-target="#myModal1">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
