<!-- welcome -->
<div class="welcome-section-wthree">
    <div class="container">
        <h3 class="tittle two">Popular Services</h3>
        <div class="welcome-agileinfo">
            <div class="col-md-3 welcome-grid">

                <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>

                <h4>HOT STONE </h4>
                <p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores hasellus</p>

            </div>
            <div class="col-md-3 welcome-grid">

                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>


                <h4>AROMATHERAPY</h4>
                <p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores hasellus</p>

            </div>
            <div class="col-md-3 welcome-grid welcome-grid-bottom">

                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>


                <h4>FACIAL PEELINGS</h4>
                <p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores hasellus</p>

            </div>
            <div class="col-md-3 welcome-grid">

                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>


                <h4>MASSAGES</h4>
                <p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores hasellus</p>

            </div>

            
        </div>
    </div>
</div>
<!-- //welcome -->
