
<div class="spa-agile">
    <h3 class="tittle fea">Featured Services</h3>
    <div class="col-md-3 spa-grid">

        <i class="fa fa-asl-interpreting" aria-hidden="true"></i>

        <h4>Oil massage </h4>

    </div>
    <div class="col-md-3 spa-grid">

        <i class="fa fa-bed"></i>


        <h4>Whirlpool</h4>


    </div>
    <div class="col-md-3 spa-grid lost">

        <i class="fa fa-envira" aria-hidden="true"></i>


        <h4>Finnish sauna</h4>


    </div>
    <div class="col-md-3 spa-grid lost">

        <i class="fa fa-pied-piper" aria-hidden="true"></i>


        <h4>Stone massage</h4>


    </div>
    <div class="clearfix"> </div>
</div>
